<div class="row">
  <div class="col-md-4">
    <div class="piece">
      <img class="piecePic" src="images/shiftable.png">
      <h3 class="pieceHeader">Shiftable</h3>
      <p>Manage or Request Shift Changes with a Simple UI</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="piece">
      <img class="piecePic" src="images/jobr.png">
      <h3 class="pieceHeader">jobr</h3>
      <p>A CRM For the Job Seeker</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="piece">
      <img src="images/shiftable.png">
    </div>
  </div>
</div>