<div class="row">
  <div class="col-md-4">
    <div class="piece" data-toggle="modal" data-target="#shiftable">
      <img class="piecePic" src="images/shiftable.png">
      <h3 class="pieceHeader">Shiftable</h3>
      <p>Manage or Request Shift Changes with a Simple UI</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="piece" onclick="openModal()">
      <img class="piecePic" src="images/jobr.png">
      <h3 class="pieceHeader">jobr</h3>
      <p>A CRM For the Job Seeker</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="piece" data-toggle="modal" data-target="#workshops">
      <img class="piecePic" src="images/whiteboardGame.jpg" >
      <h3 class="pieceHeader">Workshops/Lessons</h3>
      <p>Simple apps created to teach students web development fundementals</p>
    </div>
  </div>

  <div class="modal fade" id="shiftable" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container shiftableModalContent">
        <div class="row"><h1>Shiftable</h1></div>
        <div class="row">
          <img class="modalPic" src="images/shiftable.png">
        </div>
        <div class="row">
          <p>Shiftable allows employess to switch shifts with other employees when needed. We provide a reliable, convenient, and simple platform for employees and shift-managers to manage, share and edit shift schedules. At Shiftable, we believe that requesting shift change should be easy, convenient, and reliable. We understand the importance of having a dependable online scheduling tool in today's always-connected world.</p>
        </div>
        <div class="row">
          <img class="modalPic" src="images/shiftable2.png">
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="jobr" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container shiftableModalContent">
        <div class="row"><h1>jobr</h1></div>
        <div class="row">
          <img class="modalPic" src="images/jobr.png">
        </div>
        <div class="row">
          <p>Shiftable allows employess to switch shifts with other employees when needed. We provide a reliable, convenient, and simple platform for employees and shift-managers to manage, share and edit shift schedules. At Shiftable, we believe that requesting shift change should be easy, convenient, and reliable. We understand the importance of having a dependable online scheduling tool in today's always-connected world.</p>
        </div>
        <div class="row">
          <img class="modalPic" src="images/jobr2.png">
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="workshops" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container shiftableModalContent">
        <div class="row"><h1>Workshops and Lessons</h1></div>
        <div class="row">
          <img class="modalPic" src="images/shiftable.png">
        </div>
        <div class="row">
          <p>Shiftable allows employess to switch shifts with other employees when needed. We provide a reliable, convenient, and simple platform for employees and shift-managers to manage, share and edit shift schedules. At Shiftable, we believe that requesting shift change should be easy, convenient, and reliable. We understand the importance of having a dependable online scheduling tool in today's always-connected world.</p>
        </div>
        <div class="row">
          <img class="modalPic" src="images/shiftable2.png">
        </div>
      </div>
    </div>
  </div>
</div>
</div>