.nav-pills {
  height: 68px;
}
.nav-pills li {
  height: 68px;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover{
  font-family: 'Lobster', sans-serif;
  text-decoration: none;
  font-weight: bold;
  border-radius:0px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: white;
  color: #18bc9c !important;
  background-color: transparent !important;
  font-size: 36px;
}
.nav-pills > li > a:hover {
  color: #362C57;
}
.nav-pills > li > a {
  border-radius:0px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  color: #c7c0de;
  transition: all .5s ease-in-out;
}

body {
  background-color: #362C57;
  background-image: radial-gradient(at 50% top, rgba(123, 84, 182, .6) 0, rgba(123, 84, 182, 0) 75%), radial-gradient(at right top, rgba(127, 74, 162, .5) 0, rgba(127, 74, 162, 0) 57%);
  background-image: -webkit-radial-gradient(50% top, rgba(123, 84, 182, .6) 0, rgba(123, 84, 182, 0) 75%), -webkit-radial-gradient(right top, rgba(127, 74, 162, .5) 0, rgba(127, 74, 162, 0) 57%);
  background-repeat: no-repeat;
  background-size: 100% 1000px;
}

#jamesHi {
  border: 7px solid #fff;
  border-radius: 175px;
  }
.piece img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.piece:hover {
  border: 7px solid #18bc9c;
  cursor: pointer;
  }

.piece {
  font-family: 'Noto Sans', sans-serif;
  background-color: #c7c0de;
  border-radius: 20px;
  border: 7px solid #fff;
  overflow: hidden;
  height: 400px;
  padding-bottom: 30px;
}

.piece h3, .piece p {
  text-align: center;
}
.splashContent {
  height: 100%;
  font-family: 'Lobster', sans-serif;
  color:#18bc9c;
  text-align: center;
  margin-top: 80px;
}
.curious p, .ambitious p{
  min-width: 300px;
}

.curious {
  text-align: right;

}
.ambitious {
  text-align: left;
}
.splashDetails {
  color: #c7c0de;
  font-family: 'Noto Sans', sans-serif;
}
.splashContent .col-md-4 {
  height: 370px;
}
.splashContent .col-md-4 p {
  display:inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 40px;
  color: #c7c0de;
}
.splashWelcome {
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

.splash {
  min-height: 100vh;
}

.portfolio {
  padding: 0;
  min-height: 100vh;
  min-width: 100%;
}

.modal-content {
  padding: 10px;
  background-color:  #c7c0de;

}

.shiftableModalContent {
  width: 100%;
}

.modal-content img{
  width: 100%;
}

html, body {
  min-height: 100%;
  min-width: 100%;
}
.nav {
  z-index: 100;
  margin-bottom: 20px;
}
.fade {
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: all 1s ease;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
    width: 300px;
}


.fade p {
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}


.fade.ng-enter-active {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.fade.ng-leave {

    opacity: 0;
}
.fade.ng-leave-active {
    opacity: 0;
}